
body{
    background-color: #90DFFF;
    width: 900px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.subtitulo{
    font-weight:normal;
    font-size:1em;
}
.titulo{
    font-weight:normal;
    font-size: 2em;
}
.container{
    display: flex;
    justify-content:center; 
    width: 250px;
    height: 50px;   
    background-color: rgb(20, 20, 190);
    border-radius: 10px;
}
h3{
    text-align: center;
    color: white
}
.bubble{
    display: flex;
    justify-content:start;
}
.grupo{
    display: flex;
    justify-content: space-between;
}
.janelas{
    background-color: #b3e0f4;
    width: 270px;
    height: 150px;
    border-radius: 10px;
}
.icones{
    display:flex;

}
.get{
    display: flex;
    justify-content: end;
    background-color: rgb(20, 20, 190);
    border-radius: 10px;
}

